English/pickle_files/decoder_input_data.pkl
English/pickle_files/decoder_target_data.pkl
English/pickle_files/padded_input.pkl
English/pickle_files/padded_output.pkl

English/pre_trained_models/glove.6B.200d.txt 
English/pre_trained_models/model_weight.hdf5
English/pre_trained_models/encoder_model_weights.h5
English/pre_trained_models/decoder_model_weights.h5

English/text_files/BNC_corpus.txt
English/text_files/correct_sentences.txt
English/text_files/data.txt
English/text_files/eval_data.txt
English/text_files/eval_targets.txt
English/text_files/evaluation_correct_sentences.txt
English/text_files/targets.txt
English/text_files/test_set.txt

French/text_files/correct_sentences.txt
French/text_files/data.txt
French/text_files/eval_data.txt
French/text_files/eval_targets.txt
French/text_files/evaluation_correct_sentences.txt
French/text_files/targets.txt

French/pre_trained_models/decoder_model_weights.h5
French/pre_trained_models/encoder_model_weights.h5
French/pre_trained_models/model_weight.hdf5
